body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.chef-none {
    display: none;
}

.chef-on {
    display: initial;
}

.food-menu-checkbox {
    pointer-events: none;
}

#food-menu {
    display: none;
    position: absolute;
    background-color: green;
}

#fire-chef {
    position: absolute;
    display: none;
}